---
import format from "date-fns/format";
import type { Post } from "@/types";

export interface Props {
  post: Post;
}

const {
  post: { url, title, readingTime, date, description, coverImage },
} = Astro.props;
---

<article>
  <a
    href={url}
    class="aspect-video w-full relative block mb-4 group overflow-hidden rounded-xl"
    aria-label={title}
  >
    <img
      src={coverImage}
      alt=""
      class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition-transform duration-300"
    />
    <div
      class="absolute inset-0 group-hover:bg-black/50 transition-colors duration-300"
    >
    </div>
  </a>
  <h3 class="text-xl font-bold mb-2">
    <a href={url}>{title}</a>
  </h3>
  <p class="line-clamp-2 text-gray-600 mb-2">
    {description}
  </p>
  <p class="text-gray-600">
    <time datetime={date}>
      {format(new Date(date), "MMM dd, yyyy")}
    </time>
    {" • "}
    <span>{readingTime}</span>
  </p>
</article>
