---
import type { ProjectFrontmatter } from "@/types";

export interface Props {
  url?: string;
  data: ProjectFrontmatter;
}

const {
  url,
  data: { icon, title, description, repoURL, visitURL },
} = Astro.props;
---

<article class="flex flex-col items-center">
  <a
    href={url}
    class="relative aspect-square overflow-hidden rounded-2xl mb-8 block group w-24"
  >
    <img
      src={icon}
      alt={title}
      class="absolute inset-0 object-cover w-full h-full"
    />
  </a>
  <div class="text-center">
    <h3 class="text-xl font-bold mb-4">
      <a href={url}>{title}</a>
    </h3>
    <p class="text-gray-600 line-clamp-3 mb-4">
      {description}
    </p>
    <div class="flex items-center justify-center gap-8">
      {
        visitURL && (
          <a
            href={visitURL}
            target="_blank"
            class="text-gray-600 hover:text-gray-900"
          >
            Visit
          </a>
        )
      }
      {
        repoURL && (
          <a
            href={repoURL}
            target="_blank"
            class="text-gray-600 hover:text-gray-900"
          >
            Source
          </a>
        )
      }
    </div>
  </div>
</article>
