---
import type { ProjectFrontmatter } from "@/types";

export interface Props {
  url?: string;
  data: ProjectFrontmatter;
}

const {
  url,
  data: { coverPhoto, title, description, repoURL, visitURL },
} = Astro.props;
---

<article class="flex flex-col items-center">
  <a
    href={url}
    class="relative aspect-[3/2] overflow-hidden rounded-2xl mb-4 block group w-full"
  >
    <img
      src={coverPhoto}
      alt={title}
      class="absolute inset-0 object-cover w-full h-full"
    />
  </a>
  <div>
    <h3 class="text-xl font-bold mb-2">
      <a href={url}>{title}</a>
    </h3>
    <p class="text-gray-600 line-clamp-2 mb-2">
      {description}
    </p>
    <div class="flex gap-4 flex-wrap">
      <a href={url} class="text-gray-600 hover:text-gray-900"> Read More</a>
      {
        visitURL && (
          <a
            href={visitURL}
            target="_blank"
            class="text-gray-600 hover:text-gray-900"
          >
            Visit
            <i class="fa-regular fa-arrow-up-right-from-square ml-1" />
          </a>
        )
      }
      {
        repoURL && (
          <a
            href={repoURL}
            target="_blank"
            class="text-gray-600 hover:text-gray-900"
          >
            Source
            <i class="fa-regular fa-arrow-up-right-from-square ml-1" />
          </a>
        )
      }
    </div>
  </div>
</article>
